# .gitignore


# ---------------------------------
# Start by excluding everything
# ---------------------------------
*

# ---------------------------------
# Include .gitignore
# ---------------------------------
!.gitignore

# ---------------------------------
# Include haskell source files
# ---------------------------------
!*.hs

# ---------------------------------
# Include text files
# ---------------------------------
!*.txt

# ---------------------------------
# Include hangman project
# ---------------------------------
!hangman
hangman/*
!hangman/data
hangman/data/*
!hangman/data/dict.txt
!hangman/src
hangman/src/*
!hangman/src/*.hs

# ---------------------------------
# Include addition project
# ---------------------------------
!addition
addition/*
!addition/*.hs

# ---------------------------------
# Include morse project
# ---------------------------------
!morse
morse/*
!morse/src
!morse/tests
morse/src/*
morse/tests/*
!morse/src/*.hs
!morse/tests/*.hs
