# .gitignore


# ---------------------------------
# Start by excluding everything
# ---------------------------------
*

# ---------------------------------
# Include .gitignore
# ---------------------------------
!.gitignore

# ---------------------------------
# Include haskell source files
# ---------------------------------
!*.hs
